<h1>投稿一覧</h1>

<div class="list-wrap">
<% @lists.each do |list| %>
<!--eachメソッドでオブジェクト内の要素をデータの先頭から順に取り出して処理を行う-->
<!--eachメソッドの書き方は下記の通り-->
<!--| (範囲、ハッシュ、配列などを指定).each do |変数| |-->
<!--| 実行する処理------------------------------------|-->

  <div class="list-box">
    
    <% if list.image.attached? %>
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <%= image_tag "no-image", size: "200x200" %>
    <% end %>
    
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%= link_to list.title, list_path(list.id) %></span>
    </div>
    
  </div>

<% end %>
</div>